body {
  height: 100%;
  background: url('../img/Forest.jpg') rgb(255, 255, 255);
  background-size: cover;
  background-position: left top;
  font-size: 1em;
  
  color: white;
  font-family: monospace;
  padding: 2em;
}

h1 {
    font-size: 4em;
    text-decoration: underline;
}

p {
    font-size: 2em;
}

/* Animation */
@-webkit-keyframes anitext {
    
    0% {color: #c48deb;}
    33% {color: #c4a0dd;}
    66% {color: #b679e1;}
    100% {color: #c48deb;}
}

h1, p {
    color: #c48deb;
    -webkit-animation-name: anitext;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
}