body {
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1) ), url('../img/Forest.jpg') rgb(255, 255, 255);
  background-size: cover;
  background-position: center top;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

/* Container Contnet */
.container h1 {
  font-family: market_decoregular, sans-serif;
}

.container a {
  color: #ffffff !important;
  text-decoration: underline;
}

/* Navbar icons */
.navbar-toggler>.fa-angle-double-up { display: inline; }
.navbar-toggler>.fa-angle-double-down { display: none; }
.navbar-toggler.collapsed>.fa-angle-double-up { display: none; }
.navbar-toggler.collapsed>.fa-angle-double-down { display: inline; }

/* Animation */
@-webkit-keyframes fade-in {
    
    0% {opacity: 0;}
    100% {opacity: 1;}
}

nav, p, h1 {
    -webkit-animation: fade-in 3s;
}